<launch>

 <arg name="custom_param_file" default="$(find csuro_navigation)/param/dummy.yaml"/>
  <!-- Map server -->
  <arg name="map_file" default="$(find csuro_navigation)/maps/static_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="initial_pose_x" default="7.170"/>
  <arg name="initial_pose_y" default="28.732"/>
  <arg name="initial_pose_a" default="2.760"/>
  <include file="$(find csuro_navigation)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <include file="$(find csuro_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

</launch>
